1. Problems
2. Actors
3. Responsibility of each actor
4. What is the menu if an actor login
5. How many tables required for your application
6. SQL code to create a DB Structure
7. DB queries for each operation done by an actor.

#### Step 1: Create DB and tables

In [7]:
import psycopg2

In [9]:
con = psycopg2.connect(host='localhost',user='postgres',password='postgres',port=5432,dbname = 'myexpense')

In [11]:
cur = con.cursor()  # it is used to create cursor object

In [38]:
print(cur)

<cursor object at 0x000001D997373E60; closed: 0>

In [12]:
con.rollback()

In [14]:
# Execute a query
cur.execute('''
    CREATE TABLE Users (
        user_id SERIAL PRIMARY KEY,
        username VARCHAR(50) UNIQUE NOT NULL,
        password VARCHAR(255) NOT NULL);''')

DuplicateTable: relation "users" already exists

In [28]:
con.commit()

In [20]:
import psycopg2

In [22]:
con = psycopg2.connect(host='localhost',user='postgres',password='postgres',port=5432,dbname = 'myexpense')

In [32]:
cur = con.cursor()  # it is used to create cursor object

In [26]:
print(dir(con))

['DataError', 'DatabaseError', 'Error', 'IntegrityError', 'InterfaceError', 'InternalError', 'NotSupportedError', 'OperationalError', 'ProgrammingError', 'Warning', '__class__', '__delattr__', '__dir__', '__doc__', '__enter__', '__eq__', '__exit__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'async', 'async_', 'autocommit', 'binary_types', 'cancel', 'close', 'closed', 'commit', 'cursor', 'cursor_factory', 'deferrable', 'dsn', 'encoding', 'fileno', 'get_backend_pid', 'get_dsn_parameters', 'get_native_connection', 'get_parameter_status', 'get_transaction_status', 'info', 'isexecuting', 'isolation_level', 'lobject', 'notices', 'notifies', 'pgconn_ptr', 'poll', 'protocol_version', 'readonly', 'reset', 'rollback', 'server_version', 'set_client_encoding', 'set_isolation_level', 'set_session', 'status', 'string_types', 'tpc_begin', 'tpc_commit', 'tpc_prepare', 'tpc_recover', 'tpc_rollback', 'xid']

In [40]:
con.rollback()

In [42]:
cur.execute('''
CREATE TABLE IF NOT EXISTS Categories (
    category_id SERIAL PRIMARY KEY,
    category_name VARCHAR(50) UNIQUE NOT NULL
);
''')

In [44]:
con.commit()

In [50]:
con.rollback()

In [13]:
cur.execute('''CREATE TABLE Expenses (
    expense_id SERIAL PRIMARY KEY,
    user_id INT,
    amount DECIMAL(10, 2) NOT NULL,
    category_id INT,
    expense_date DATE NOT NULL,
    description VARCHAR(255),
    FOREIGN KEY (user_id) REFERENCES Users(user_id),
    FOREIGN KEY (category_id) REFERENCES Categories(category_id)
);''')

In [15]:
con.commit()

In [33]:
con.rollback()

In [35]:
cur.execute("insert into users values(1, 'dhanusha', 'dhanu123')")

In [37]:
con.commit()

In [45]:
con.rollback()

In [47]:
cur.execute("insert into users values(2, 'Indu', 'indu456')")

In [49]:
con.commit()

In [55]:
con.rollback()

In [57]:
cur.execute("insert into users values(3,'Raji', 'raji789')")

In [59]:
con.commit()

In [19]:
import psycopg2
con = psycopg2.connect(host='localhost',user='postgres',password='postgres',port=5432,dbname = 'myexpense')
cur = con.cursor() 
con.rollback()

In [20]:
cur.execute("ALTER TABLE expenses DROP COLUMN expense_id;")

UndefinedColumn: column "expense_id" of relation "expenses" does not exist

In [ ]:
con.commit()

##### database.py : This file manages database connections and executing SQL queries.

import psycopg2

def execute_query(query, params=None):
    conn = psycopg2.connect("dbname=expenses user=username password=password")
    with conn.cursor() as cur:
        cur.execute(query, params)
        if query.strip().lower().startswith("select"):
            return cur.fetchall()
        conn.commit()

##### report.py : Creates a basic report that lists total expenses by category.
from database import execute_query

def generate_report():
    query = "SELECT category, SUM(amount) FROM expenses GROUP BY category"
    results = execute_query(query)
    print("Expense Report by Category:")
    for category, total in results:
        print(f"{category}: ${total}")

##### expenses.py
##### Handles adding and viewing expenses with simple database operations.
from database import execute_query

def add_expense():
    amount = input("Amount: ")
    category = input("Category: ")
    description = input("Description: ")
    date = input("Date (YYYY-MM-DD): ")
    
    query = "INSERT INTO expenses (amount, category, description, date) VALUES (%s, %s, %s, %s)"
    execute_query(query, (amount, category, description, date))
    print("Expense added!")

def view_expenses():
    query = "SELECT * FROM expenses"
    results = execute_query(query)
    for row in results:
        print(row)

#main.py
from expenses import add_expense, view_expenses
from report import generate_report

def main():
    action = input("Choose an action: Add/View/Report: ").strip().lower()

    if action == "add":
        add_expense()
    elif action == "view":
        view_expenses()
    elif action == "report":
        generate_report()
    else:
        print("Invalid action.")

if __name__ == "__main__":
    main()