# Assignments on variables expressions and statements

#### 1. Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs. 
#### Decide how many number of buses required

In [193]:
people = int(input("number of people:"))
seats = int(input("number of seats:"))
buses = (people+seats-1)//seats
print(f"Number of buses: {buses}")

number of people: 2342
number of seats: 21

Number of buses: 112

#### 2. Take temperature from the user and convert 
#### Fahrenheit -> Celsius.

In [197]:
Fahrenheit = float(input("Enter Fahrenheit Temp: "))
Celsius = (Fahrenheit - 32) * 5/9
print(f"Enter the Celsius temp is {(Celsius)}")

Enter Fahrenheit Temp:  2432

Enter the Celsius temp is 1333.3333333333333

#### 3. Take temperature from the user and convert
#### Celsius → Fahrenheit.

In [199]:
Celsius = float(input("Enter Celsius Temp: "))
Fahrenheit = (Celsius * 9/5) + 32
print(f"Enter the Fahrenheit temp is {(Fahrenheit)}")

Enter Celsius Temp:  234

Enter the Fahrenheit temp is 453.2

#### 4. take four number from the user (variables name it as x1,x2,x3,x4)
```
 Do the below operations
 (x1+x2)**2, (x3+x4)**3
    variance
    standard deviation: sqrt(variance):  User math module. Math.sqrt(variance)
    Regression
	y=mx+b
    m=1.23
    b=0.045
    find out y
    y=m*(x1+x2+x3+x4)+b
Find the average of four numbers
Find the sum of four numbers
```

In [47]:
#import math
x1 = int(input())
x2 = int(input())
x3 = int(input())
x4 = int(input())
res1 = (x1+x2)**2
res2 = (x3+x4)**3
mean = (x1+x2+x3+x4)/4
varience = ((x1-mean)**2 + (x2-mean)**2 + (x3-mean)**2 + (x4-mean)**2)/4
std_dev = math.sqrt(varience)
y = 1.23*(x1+x2+x3+x4)+0.045
avg = mean
sum_of_four = x1+x2+x3+x4
print(res1)
print(res2)
print(varience)
print(std_dev)
print(y)
print(avg)
print(sum_of_four)

 1
 3
 4
 5

16
729
2.1875
1.479019945774904
16.035
3.25
13

#### 5. Take the distance in km
#### Show that in cm, meters, in milli meters, cents, feets, yards

In [9]:
Kilometers = float(input("Enter no. of Kilometers: "))
centimeters = Kilometers * 100000 
meters = Kilometers * 1000 
millimeters = Kilometers * 1000000
cents = Kilometers * 0.13275 
feets = Kilometers * 3280.84
yards = Kilometers * 1093.61
print(f" Kilometers: {centimeters: .2f} cm")  
print(f" Kilometers: {meters: .2f} m")  
print(f" Kilometers: {millimeters: .2f} mm")  
print(f" Kilometers: {cents: .3f} cents")  
print(f" Kilometers: {feets: .2f} feets")  
print(f" Kilometers: {yards: .2f} yards")

Enter no. of Kilometers:  242

 Kilometers:  24200000.00 cm
 Kilometers:  242000.00 m
 Kilometers:  242000000.00 mm
 Kilometers:  32.126 cents
 Kilometers:  793963.28 feets
 Kilometers:  264653.62 yards

#### 6.Take the size of your hard disk in GB
#### Show that in MB, KB, TB, PB

In [11]:
GB = int(input("Enter size of hard disk in GB: "))
MB = GB * 1024
KB = GB * 1048576
TB = GB / 1024
PB = GB / (1024*1024)
print(f" GB is {MB}mb")
print(f" GB is {KB}kb")
print(f" GB is {TB:.2f}tb")
print(f" GB is {PB:.2f}pb")

Enter size of hard disk in GB:  23

 GB is 23552mb
 GB is 24117248kb
 GB is 0.02tb
 GB is 0.00pb

#### 7. Take name, age, height from the user and print like below. 
#### The details of the person: Name:name of the person, Age:age of the person, Height:height of the person. 
#### Note: make sure that no space between : and a value and should be space after “COMA”

In [13]:
Name = input(" Enter name of person: ")
Age = input(" Enter age of person: ")
Height = input(" Enter height of person: ")
print(f" The details of the person: Name:{Name}, Age:{Age}, Height:{Height}")

 Enter name of person:  23
 Enter age of person:  432
 Enter height of person:  432

 The details of the person: Name:23, Age:432, Height:432

#### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [15]:
Weight = float(input("Enter the weight: "))
Height = float(input("Enter the height: "))
BMI = Weight / (Height ** 2)
print(f"your BMI is :{BMI:.2f}")

Enter the weight:  23
Enter the height:  43

your BMI is :0.01

#### 9. Write a program
```
name="Jayaram", age=1.6, height=3.5356234, weight=10.343856783
By using above inputs print the output
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
Note: Use format specifiers(%s, %d, %f)
```

In [17]:
Name = "Jayaram"
Age =  1.6
Height = 3.5356234
Weight = 10.343856783
print(f"Enter details of person: \nName:%s, Age:%s, Height:%.2f, Weight:%.3f"%(Name, Age, Height, Weight))

Enter details of person:
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

#### 10. Take three upper case letters from the user convert in to small case.

In [1]:
letter1 = input("Enter first upper case letter: ")
letter2 = input("Enter first upper case letter: ")
letter3 = input("Enter first upper case letter: ")
First = chr(ord(f'{letter1}')+32)
Second =chr(ord(f'{letter2}')+32)
Third = chr(ord(f'{letter3}')+32)
print(f"{First}{Second}{Third}")

Enter first upper case letter:  A
Enter first upper case letter:  S
Enter first upper case letter:  Q

asq

#### 11. take base and exponent value from the user and print like in mathematics:
#### example: base=2, exponent=3: 23
#### Use: 2\u00b3

In [28]:
Base = int(input("Enter a base value: "))
Exponent=int(input(" Enter a Exponent: "))
Value = Base ** Exponent
print(f"{int(Base)}\u00b3 is {int(Value)}")
#print(f"{int(Base)}^{int(Exponent)} is {Value}")

Enter a base value:  2
 Enter a Exponent:  3

2³ is 8

#### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [27]:
groceries = [35,45.3,200,45.6]
total = sum(groceries)
avg_cost = total/len(groceries)
max_cost = max(groceries)
min_cost = min(groceries)
print(f" Total cost for groceries: {total:.2f}")
print(f" Average cost for groceries: {avg_cost:.2f}")
print(f" Maximum cost for groceries: {max_cost}")
print(f" Minimum cost for groceries: {min_cost}")

 Total cost for groceries: 325.90
 Average cost for groceries: 81.48
 Maximum cost for groceries: 200
 Minimum cost for groceries: 35

## Conditional Assignment

#### 13. Take the input from the user for(Total number of people, total number of buses, Number of seats for bus, adjust factor). Based on four inputs
#### Decide whether there is sufficient buses or not and give solution for how many extra buses required.

In [207]:
people = int(input("Total no. of people:"))
buses = int(input("Total no. of buses: "))
seats = int(input("Total no. of seats:"))
adjust_factor = float(input("Enter adjust_factor: "))

Total_seating = buses * seats * adjust_factor

if Total_seating > people:
    print(f"No buses is required. current number of buses: {buses}")
else:
    Buses_required = (people-Total_seating)/(seats*adjust_factor)
    Buses_required = float(Buses_required) + 1
    print(f"Number of buses required: {int(Buses_required)}")

Total no. of people: 100
Total no. of buses:  10
Total no. of seats: 8
Enter adjust_factor:  0.9

Number of buses required: 4

#### 14.Take number from the user decide whether it is even or odd.

In [136]:
number = int(input("Enter a number: "))
value = number%2
if value == 0:
    print(f"{number} value is Even")
else:
    print(f"{number} value is odd")

Enter a number:  9

9 value is odd

In [138]:
number = int(input("Enter a number: "))
value = number%2
if value == 0:
    print(f"{number} value is Even")
else:
    print(f"{number} value is odd")

Enter a number:  4

4 value is Even

#### 15. Take number from the user decide whether it is positive number or negative number

In [140]:
number = int(input("Enter a number: "))
if number > 0:
    print(f"{number} value is Positive")
else:
    print(f"{number} value is Negative")

Enter a number:  -1

-1 value is Negative

In [142]:
number = int(input("Enter a number: "))
if number > 0:
    print(f"{number} value is Positive")
else:
    print(f"{number} value is Negative")

Enter a number:  1

1 value is Positive

#### 16. Take a string from the user print the length. if the user not given anything then show an error message

In [182]:
Word_length = input("Enter word: ")
print(f"{Word_length} is {len(Word_length)}")

Enter word:  hyderabad

hyderabad is 9

In [191]:
word_len = input("Enter word: ")
if len(word_len) == 0:
    print("Error: value is not entered")
else:
    print(f"The length of entered word is {len(word_len)}")

Enter word:

Error: value is not entered

## 13-09-2024

#### 17. code to perform mathematical operations. take two numbers from the user and show the below menu
```
1.add
2.sub	
3.mul
4.div 
5.quit
Enter an option: based on the option need to perform an operation
```

In [39]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' value: "))
print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")
opt = input("Enter an option:")
if opt=="1": 
    print(a+b)
elif opt=="2":  
    print(a-b)
elif opt=="3": 
    print(a*b)
elif opt=="4":  
    print(a/b)
elif opt=="5":  
    print("quit")
else:
    print("enter valid option")
print("Thank you")

Enter 'a' value:  100
Enter 'b' value:  50

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 1

150
Thank you

In [41]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' value: "))
print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")
opt = input("Enter an option:")
if opt=="1": 
    print(a+b)
elif opt=="2":  
    print(a-b)
elif opt=="3": 
    print(a*b)
elif opt=="4":  
    print(a/b)
elif opt=="5":  
    print("quit")
else:
    print("enter valid option")
print("Thank you")

Enter 'a' value:  200
Enter 'b' value:  100

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 2

100
Thank you

In [43]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' value: "))
print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")
opt = input("Enter an option:")
if opt=="1": 
    print(a+b)
elif opt=="2":  
    print(a-b)
elif opt=="3": 
    print(a*b)
elif opt=="4":  
    print(a/b)
elif opt=="5":  
    print("quit")
else:
    print("enter valid option")
print("Thank you")

Enter 'a' value:  100
Enter 'b' value:  20

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 3

2000
Thank you

In [45]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' value: "))
print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")
opt = input("Enter an option:")
if opt=="1": 
    print(a+b)
elif opt=="2":  
    print(a-b)
elif opt=="3": 
    print(a*b)
elif opt=="4":  
    print(a/b)
elif opt=="5":  
    print("quit")
else:
    print("enter valid option")
print("Thank you")

Enter 'a' value:  200
Enter 'b' value:  10

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 4

20.0
Thank you

In [53]:
a = int(input("Enter 'a' value: "))
b = int(input("Enter 'b' value: "))
print( "1.add\n2.sub\n3.mul\n4.division\n5.quit")
opt = input("Enter an option:")
if opt=="1": 
    print(a+b)
elif opt=="2":  
    print(a-b)
elif opt=="3": 
    print(a*b)
elif opt=="4":  
    print(a/b)
elif opt=="5":  
    print("quit")
else:
    print("enter valid option")
print("Thank you")

Enter 'a' value:  40
Enter 'b' value:  6

1.add
2.sub
3.mul
4.division
5.quit

Enter an option: 5

quit
Thank you

### 18. show the menu:
```
1. kids
2. Men's
3. Women's
Show the corresponding message based on the selection.
Option:1: you are a kid
       2: you are a gentlemen
       3: you are a good women
 Mention error message if the option value >3.
```

In [69]:
print("Menu:\n1. Kids\n2. Men's\n3. Women's")
option = int(input("Select an option (1, 2, or 3): "))
if option == 1:
    print("You are a kid.")
elif option == 2:
    print("You are a gentleman.")
elif option == 3:
    print("You are a good woman.")
else:
    print("Invalid option. Please select 1, 2, or 3.")
print("Thank you for shopping")

Menu:
1. Kids
2. Men's
3. Women's

Select an option (1, 2, or 3):  1

You are a kid.
Thank you for shopping

In [71]:
print("Menu:\n1. Kids\n2. Men's\n3. Women's")
option = int(input("Select an option (1, 2, or 3): "))
if option == 1:
    print("You are a kid.")
elif option == 2:
    print("You are a gentleman.")
elif option == 3:
    print("You are a good woman.")
else:
    print("Invalid option. Please select 1, 2, or 3.")
print("Thank you for shopping")

Menu:
1. Kids
2. Men's
3. Women's

Select an option (1, 2, or 3):  4

Invalid option. Please select 1, 2, or 3.
Thank you for shopping

#### 19. write a program to chcek given substring is there in actual string or not?
    example: act="python is a pure object oriented programing language"
    check whether “pure” is there in act or not.
    Note: Use in operator

In [73]:
act = input("Enter a sentence:")
word = input("Enter the word to search in sentence:")
if word in act:#print yes if the word is present in sentence
    print("yes")
else:
    print("no")

Enter a sentence: hi hello
Enter the word to search in sentence: hi

yes

#### 20. Take three numbers from the user and decide which is big

In [77]:
num1 = input("Enter the first number:")
num2 = input("Enter the second number:")
num3 = input("Enter the third number:")
if float(num1)>float(num2) and float(num1)>float(num3):
    print(f"{num1} is bigger")
elif float(num2)>float(num1) and float(num2)>float(num3):
    print(f"{num2} is bigger")
else:
    print(f"{num3} is bigger")

Enter the first number: 6
Enter the second number: 7
Enter the third number: 8

8 is bigger

####  21. Take age and gender from the user and decide whether he is eligible for 	marriage in India or not.
        Age criteria: men age>24, women>21

In [ ]:
age = input("Enter the age:")
gender = input("Enter the gender(male/female):")
# Check eligibility for marriage based on gender and age
if gender == 'male':
    if int(age)>24:
      print("you are eligible for marriage in India")
    else:
      print("You are not eligible for marriage in India")
elif gender == 'female':
    if int(age)>21:
        print("you are eligible for marriage in India")
    else:
        print("You are not eligible for marriage in India")
else:
    print("Invalid gender. Please enter male or female")

#### 22. Take an age  and gender from the user: and mention that what he/she can 	do in india.
```
conditions

1. Theatre: 5 for men 7 for women
    	2. Voting system: 18 for men and women
    	3. Marriage in india: 23 for men and for women >21
    	4. For govt jobs: (min:18, max:32)  for men and (min:18, max:34) for 	women
   	 	5. For driving licence: (min:18, max:60) for men and women
	Eligibility:
   		1. theatre
			2.  Voting system
			3.  Marriage in india
			4.  For govt obs
			5. For driving licence:
	Enter an option:
		Gender:
			1. men
			2. women
	Enter an option:
		Enter an age of person:
```

In [100]:
print("1.Men\n2.Women")
gender = input("Enter gender")
age = input("enter an age:")
age = float(age)
if age>=18:
         print("can apply for voting")
if age>=18 and age<=60:
        print("can apply for driving licence")
if gender=="1":
     if age>=5:
         print("can got to movie")
     if age>=23:
        print("can get married")
     if age>=18 and age<=32:
        print("can apply for govt gobs")
else:
     if age>=7:
         print("can go to movie")
     if age>=18:
         print("can apply for voting")
     if age>=21:
        print("can get married")
     if age>=18 and age<=34:
        print("can apply for govt gobs")

1.Men
2.Women

Enter gender 1
enter an age: 44

can apply for voting
can apply for driving licence
can got to movie
can get married

### 23. operating systems:
```
	1.windows
	2.android
	3.mac
Enter an option:

If the user enters 1 then show "Goto first floor and buy windows laptop or mobile"
If the user enters 2 then show "Goto second floor and buy adroid mobiles"
If the user enters 3 then show "Goto third floor and buy mac laptop or iphones"
If the user enters other than 1 or 2 or 3 then show "There is only three floors, please select 1 or 2 or 3"
```

In [88]:
print("Operating Systems:\n\t1.Windows\n\t2.Android\n\t3.MAC")
 
option = input("Enter the option(1-3):")
# Checks if option is 1
if option == '1':
    print("Go to first floor and buy windows laptop or mobile")
# Checks if option is 2 
elif option == '2':
    print("Go to second floor and buy android mobiles")
# Checks if option is 3
elif option == '3':
    print("Go to third floor and buy mac laptop or iphones")
else:
    print("There is only three floors, please select 1 or 2 or 3")

Operating Systems:
	1.Windows
	2.Android
	3.MAC

Enter the option(1-3): 1

Go to first floor and buy windows laptop or mobile

#### 24.Given an age, figure out whether someone's a baby, toddler, child, teenager, adult or old codger.

In [86]:
age = int(input("Enter the age: "))
 
# Determine the category based on age
if age < 2:
    print("Baby")
elif 2 <= age < 4:
    print("Toddler")
elif 4 <= age < 13:
    print("Child")
elif 13 <= age < 20:
    print("Teenager")
elif 20 <= age < 65:
    print("Adult")
else:
    print("Old Codger")

Enter the age:  7

Child

#### 25.Take two number a,b from the user and check whether a is divisible by b or not

In [96]:
a = input("Enter number a:")
b= input("Enter number b:")
a = float(a)
b = float(b)
if a%b == 0:
    print(f"{a} is divisible by {b}")
else:
    print(f"{a} is not divisible by {b}")

Enter number a: 23.
Enter number b: 23.4

23.0 is not divisible by 23.4

#### 26. Take a letter from the user and print that letter belongs to which category I.e is it a small letter or capital letter or number or special symbol

In [98]:
character = input("Enter a character: ")
 
# Get the ASCII value of the character
ascii_value = ord(character)
 
# Check if the character is a special symbol
if (32 <= ascii_value <= 47) or (58 <= ascii_value <= 64) or (91 <= ascii_value <= 96) or (123 <= ascii_value <= 126):
    print("The given character is a special symbol")
# Check if the character is a number
elif 48 <= ascii_value <= 57:
    print("The given character is a number")
# Check if the character is a capital letter
elif 65 <= ascii_value <= 90:
    print("The given character is a capital letter")
# Check if the character is a small letter
elif 97 <= ascii_value <= 122:
    print("The given character is a small letter")
else:
    print("Invalid input")

Enter a character:  a

The given character is a small letter