In [1]:
number=12
if number%2==0:
    print("EVEN")
else:
    print("ODD")

EVEN

In [3]:
number=[12,23,35,46,38,90]
if number[0]%2==0: # 10%2=0, 0==0: True
    print("EVEN")
else:
    print("ODD")
if number[1]%2==0: # 23%2=1, 1==0: Flase
    print("EVEN")
else:
    print("ODD")

EVEN
ODD

### for loop which datatypes are working

In [7]:
#list

numbers=[12,23,35,46]
for num in numbers: # num=10,  num=23, num=35, num=46
    print("HELLO")
    print(num)
print("HI")

HELLO
12
HELLO
23
HELLO
35
HELLO
46
HI

In [3]:
#tuple

numbers=(12,23,35,46)
for num in numbers: # num=10,  num=23, num=35, num=46
    print("HELLO")
    print(num)
print("HI")

HELLO
12
HELLO
23
HELLO
35
HELLO
46
HI

In [11]:
#Dictionary

numbers={'x':1,'y':20,'z':3,'s':4}
for num in numbers: 
    print("HELLO")
    print(num)
print("Exit")

HELLO
x
HELLO
y
HELLO
z
HELLO
s
Exit

In [13]:
#set

numbers={12,23,35,46}
for num in numbers: 
    print("HELLO")
    print(num)
print("exit")

HELLO
35
HELLO
12
HELLO
46
HELLO
23
exit

In [19]:
# string for number
for num in "1000":
    print(num)
    print("hi")

1
hi
0
hi
0
hi
0
hi

In [17]:
# string for word

for num in "pot":
    print(num)
    print("hi") # for loop block
print('hello') # main block

p
hi
o
hi
t
hi
hello

In [23]:
#boolean
for num in False:
    print(num)

TypeError: 'bool' object is not iterable

In [25]:
# float
for num in 12.34:
    print(num)

TypeError: 'float' object is not iterable

In [27]:
# int
for num in 12:
    print(num)

TypeError: 'int' object is not iterable

In [29]:
data ={'aja':'name','addr':'hyd'}
for num in data: 
    print(num)

aja
addr

In [33]:
for i in []:
    print(i)
    print('hi')
print('hello')

hello

In [35]:
num = 10
if num > 0:
    print('+ve')
else:
    print('-ve')

+ve

In [63]:
numbers = [10,-2,14,-1]
for num in numbers:
    if num>=0:
        #print(num,'+ve')
        print(f"+ve numbers are: {num}")
    else:
        print(num,'-ve')
print('done')

+ve numbers are: 10
-2 -ve
+ve numbers are: 14
-1 -ve
done

In [78]:
numbers = [10,-2,14,-1,4,-6,-8]
pos_num = 0
neg_num = 0
for num in numbers:
    if num>=0:
        pos_num = pos_num +1
    else:
        neg_num = neg_num +1
print(pos_num)
print(neg_num)

3
4

In [82]:
# for loop break
numbers = [10,-2,14]
pos_num = 0
neg_num = 0
for num in numbers:
    if num>=0:
        pos_num = pos_num +1
        break
    else:
        neg_num = neg_num +1
print(pos_num)
print(neg_num)

1
0