In [1]:
def fun():
    print('this is fun')
class c1:
    print('this is class')

this is class

In [3]:
def fun():
    print('this is fun')
    a=1000
    b=2000
class c1:
    print('this is class')
    a=1000
    b=2000
    print(a,b)

this is class
1000 2000

In [7]:
def fun():
    print('this is fun')
    a=1000
    b=2000
class c1:
    print('this is class')
    a=1000
    b=2000
print(c1)

this is class
<class '__main__.c1'>

In [13]:
def fun():
    print('this is fun')
    a=1000
    b=2000
class c1:
    print('this is class')
    a=1000
    b=2000
    print(a,b)
print(c1.a)
print(c1.b)

this is class
1000 2000
1000
2000

In [17]:
class c1:
    print('this is class')
    a=1000
    b=2000
    def fun():
        print('this is function inside class.')

this is class

In [19]:
class c1:
    print('this is class')
    a=1000
    b=2000
    def fun():
        print('this is function inside class.')
print(c1.a, c1.b)
c1.fun()

this is class
1000 2000
this is function inside class.

In [21]:
a=1000
print(type(a))

<class 'int'>

In [23]:
class Emp: # emp is class object
    company='AJA'
jay = Emp() # emp() is data object
jay.name = 'jairam'
jay.id=1
vedha = Emp()
vedha.id=2
vedha.name = 'vedha'  
print(Emp.company)

AJA

In [29]:
class Emp: # emp is class object
    company='AJA'
jay = Emp() # emp() is data object
jay.name = 'jairam'
jay.id=1
vedha = Emp()
vedha.id=2
vedha.name = 'vedha'  
print(jay.company)
print(vedha.company)
print(jay.id)
print(jay.name)
print(vedha.id)
print(vedha.name)

AJA
AJA
1
jairam
2
vedha

In [ ]:
class Emp: # emp is class object
    company='AJA'
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp() # emp() is data object
jay.name = 'jairam'
jay.id=1
vedha = Emp()
vedha.id=2
vedha.name = 'vedha'  
Emp.get_details(vedha)
Emp.get_details(jay)

In [1]:
class Emp: 
    company='AJA'
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp() 
jay.name = 'jairam'
jay.id=1
vedha = Emp()
vedha.id=2
vedha.name = 'vedha'  
vedha.dob='2017-09-12'
Emp.get_details(vedha)
Emp.get_details(jay)

vedha 2
jairam 1

In [3]:
class Emp: 
    company='AJA'
    def setup(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp() 
Emp.setup(jay,'jairam',1)
#jay.name = 'jairam'
#jay.id=1
vedha = Emp()
Emp.setup(vedha,'vedhanvesh',2)
#vedha.id=2
#vedha.name = 'vedha'  
#vedha.dob='2017-09-12'
Emp.get_details(vedha)
Emp.get_details(jay)

vedhanvesh 2
jairam 1

In [5]:
class Emp: 
    company='AJA'
    def setup(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp() 
Emp.setup(jay,'jairam',1)
vedha = Emp()
Emp.setup(vedha,'vedhanvesh',2)
Emp.get_details(vedha)
Emp.get_details(jay)

vedhanvesh 2
jairam 1

In [7]:
class Emp: 
    company='AJA'
    def setup(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp() 
Emp.setup(jay,'jairam',1)
Emp.get_details(jay)
vedha = Emp()
# Emp.setup(vedha,'vedhanvesh',2)
Emp.get_details(vedha)

jairam 1

AttributeError: 'Emp' object has no attribute 'name'

In [9]:
class Emp: 
    print('this is class')
    def fun1(obj):
        print('this is fun1')
    def __init__(obj):
        print('this is fun1')

this is class

In [13]:
class Emp: 
    print('this is class')
    def fun1(obj):
        print('this is fun1')
    def __init__(obj):
        print('this is init')
jay = Emp()

this is class
this is init

In [15]:
class Emp: 
    print('this is class')
    def fun1(obj):
        print('this is fun1')
    def __init__(obj):
        print('this is init')
jay = Emp()
vedha = Emp()
obj3 = Emp()

this is class
this is init
this is init
this is init

In [17]:
class Emp: 
    print('this is class')
    def fun1(obj):
        print('this is fun1')
    def __init__(obj, name, e_id):
        print(obj, name, e_id)
jay = Emp('jairam',1)
vedha = Emp('vedhansh',2)

this is class
<__main__.Emp object at 0x000001AB22632630> jairam 1
<__main__.Emp object at 0x000001AB20DE8740> vedhansh 2

In [21]:
def fun(a,b,c):
    pass
fun(1,2)

TypeError: fun() missing 1 required positional argument: 'c'

In [27]:
class Emp: 
    def __init__(obj, name, e_id):
        obj.name=name
        obj.id=e_id
jay = Emp('jairam',1) # Emp.__init__(dataobject,'jairam',1)
vedha = Emp('vedhansh',2)
print(jay.name)
print(vedha.name)

jairam
vedhansh

In [29]:
class Emp: 
    def __init__(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp('jairam',1) # Emp.__init__(dataobject,'jairam',1)
vedha = Emp('vedhansh',2)
print(jay.name)
print(vedha.name)

jairam
vedhansh

In [35]:
class Emp: 
    def __init__(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp('jairam',1) # Emp.__init__(dataobject,'jairam',1)
vedha = Emp('vedhansh',2)
jay.get_details() #Emp.get_details(jay)
Emp.get_details(vedha)

jairam 1
vedhansh 2

In [41]:
class Emp: 
    def __init__(obj, name, e_id):
        obj.name=name
        obj.id=e_id
    def get_details(obj):
        print(obj.name,obj.id)
jay = Emp('jairam',1) # dataobject = Emp.__new__(), Emp.__init__(dataobject,'jairam',1)
vedha = Emp('vedhansh',2)
jay.get_details() #Emp.get_details(jay)
Emp.get_details(vedha)

jairam 1
vedhansh 2

In [45]:
class c1:
    pass
a=c1()

In [55]:
class Emp: 
    def __init__(obj, e_id,name, salary, leaves):
        obj.id=e_id
        obj.name=name
        obj.salary=salary
        obj.leaves=leaves
    def sal_cal(obj):
        pass
jay = Emp(1,'jairam',300000,2)
print(jay.salary-(jay.salary/30*2)-(jay.salary*0.3))
#print(jay.sal_cal())
#jay.get_details() 
#Emp.get_details(vedha)

190000.0

In [57]:
jay.salary*0.3

90000.0

In [65]:
class Emp: 
    def __init__(obj, e_id,name, salary, leaves):
        obj.id=e_id
        obj.name=name
        obj.salary=salary
        obj.leaves=leaves
    def sal_cal(obj):
        return obj.salary-(obj.salary/30*2)-(obj.salary*0.3)
jay = Emp(1,'jairam',300000,2)
print()
print(jay.sal_cal()) #

190000.0

In [71]:
class Emp: 
    def __init__(self, e_id,name, salary, leaves):
        self.id=e_id
        self.name=name
        self.salary=salary
        self.leaves=leaves
    def sal_cal(self):
        return self.salary-(self.salary/30*2)-(self.salary*0.3)
jay = Emp(1,'jairam',300000,2)
print()
print(jay.sal_cal()) #Emp.sal_cal(jay)

190000.0

In [73]:
class Emp: 
    def __init__(self, e_id,name, salary, leaves):
        self.id=e_id
        self.name=name
        self.salary=salary
        self.leaves=leaves
        return 'HELLO'
    def sal_cal(self):
        return self.salary-(self.salary/30*2)-(self.salary*0.3)
jay = Emp(1,'jairam',300000,2)
print()
print(jay.sal_cal()) #Emp.sal_cal(jay)

TypeError: __init__() should return None, not 'str'

In [75]:
class Emp: 
    def __init__(self, e_id,name, salary, leaves):
        self.id=e_id
        self.name=name
        self.salary=salary
        self.leaves=leaves
        return None
    def sal_cal(self):
        return self.salary-(self.salary/30*2)-(self.salary*0.3)
jay = Emp(1,'jairam',300000,2)
print()
print(jay.sal_cal()) #Emp.sal_cal(jay)

190000.0

In [77]:
class Emp: 
    def __init__(self, e_id,name, salary, leaves):
        self.id=e_id
        self.name=name
        self.salary=salary
        self.leaves=leaves
        return None
    def sal_cal(self):
        return self.salary-(self.salary/30*2)-(self.salary*0.3)
jay = Emp(1,'jairam',300000,2)
print()
res = jay.sal_cal() 
print(res)

190000.0

# 02-11-24

In [15]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
    def sp_cal (self):
        discount_amount = (self.cost * self.discount) / 100
        selling_price = self.cost + self.profit - discount_amount
        return selling_price
    def get_details(self):
        
        print(self.name,self.id,self.cost,self.colour,self.profit,self.discount)
P1 =  product(id=1,name= 'apple',cost=100, colour='red',profit=10%,discount=20%)
print(P1.get_details())

SyntaxError: invalid syntax (3074214619.py, line 15)

In [17]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
    def get_details(self):
        print(self.dict)
p1 = product(1,'p1',100,'red',20,10)
print(p1.__dict__)
#p1.get_details()

{'id': 1, 'name': 'p1', 'cost': 100, 'colour': 'red', 'profit': 20, 'discount': 10}

In [25]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
        self.sales_price = ((self.cost+self.profit)*self.discount)/(self.discount-1)
    def get_details(self):
        print(self.dict)
p1 = product(1,'p1',100,'red',20,10)
#p1.get_details()
print(p1.__dict__)

{'id': 1, 'name': 'p1', 'cost': 100, 'colour': 'red', 'profit': 20, 'discount': 10, 'sales_price': 133.33333333333334}

In [29]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
        self.sales_price = ((self.cost+self.profit)*self.discount)/(self.discount-1)
    def get_details(self):
        print(self.__dict__)
p1 = product(1,'p1',100,'red',20,10)
p1.cost =200
p1.get_details()
print(p1.sales_price)

{'id': 1, 'name': 'p1', 'cost': 200, 'colour': 'red', 'profit': 20, 'discount': 10, 'sales_price': 133.33333333333334}
133.33333333333334

In [31]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
    @property
    def sales_price(self):
        return ((self.cost+self.profit)*self.discount)/(self.discount-1)
    def get_details(self):
        print(self.__dict__)
        print(self.sales_price)

p1 = product(1,'p1',100,'red',20,10)
p1.cost =200
p1.get_details()
print(p1.sales_price)

{'id': 1, 'name': 'p1', 'cost': 200, 'colour': 'red', 'profit': 20, 'discount': 10}
244.44444444444446
244.44444444444446

In [35]:
class product:
    def __init__(self, id, name, cost, colour, profit, discount):
        self.id = id
        self.name = name
        self.cost = cost
        self.colour = colour
        self.profit = profit
        self.discount = discount
        
    @property   # by default methods in python
    def sales_price(self):
        return ((self.cost+self.profit)*self.discount)/(self.discount-1)
        
    def get_details(self):
        print(self.__dict__)
        print(self.sales_price)

p1 = product(1,'p1',100,'red',20,10)
p1.cost =200
p1.get_details()
p1.cost =300
print(p1.sales_price)

{'id': 1, 'name': 'p1', 'cost': 200, 'colour': 'red', 'profit': 20, 'discount': 10}
244.44444444444446
355.55555555555554

In [41]:
class parent:
    def op1(self):
        print('this is op1 in parent')
class child:
    def op2(self):
        print('this is op1 in child')
p=parent()
p.op1()
c=child()
c.op2()

this is op1 in parent
this is op1 in child

In [43]:
class parent:
    def op1(self):
        print('this is op1 in parent')
class child:
    def op2(self):
        print('this is op1 in child')
p=parent()
p.op1()
p.op2()

this is op1 in parent

AttributeError: 'parent' object has no attribute 'op2'

In [45]:
class parent:
    def op1(self):
        print('this is op1 in parent')
class child:
    def op2(self):
        print('this is op1 in child')
c=child()
c.op1()
c.op2()

AttributeError: 'child' object has no attribute 'op1'

In [49]:
class parent:
    def op1(self):
        print('this is op1 in parent')
class child:
    def op2(self):
        print('this is op1 in child')
    def operations(self):
        self.op2()
c=child()
c.operations()

this is op1 in child