# Assignments on variables expressions and statements

### 1. Take the input from the user for(Total number of people,Number of seats for bus). Based on two inputs. 
### Decide how many number of buses required

In [16]:
people = int(input("number of people:"))
seats = int(input("number of seats:"))
buses = (people+seats-1)//seats
print(f"Number of buses: {buses}")

number of people: 60
number of seats: 10

Number of buses: 6

### 2. Take temperature from the user and convert 
### Fahrenheit -> Celsius.

In [35]:
Fahrenheit = float(input("Enter Fahrenheit Temp: "))
Celsius = (Fahrenheit - 32) * 5/9
print(f"Enter the Celsius temp is {int(Celsius)}")

Enter Fahrenheit Temp:  98.7

Enter the Celsius temp is 37

### 3. Take temperature from the user and convert
### Celsius → Fahrenheit.

In [37]:
Celsius = float(input("Enter Celsius Temp: "))
Fahrenheit = (Celsius * 9/5) + 32
print(f"Enter the Fahrenheit temp is {int(Fahrenheit)}")

Enter Celsius Temp:  45

Enter the Fahrenheit temp is 113

### 5. Take the distance in km
### Show that in cm, meters, in milli meters, cents, feets, yards

In [107]:
Kilometers = float(input("Enter no. of Kilometers: "))
centimeters = Kilometers * 100000 
meters = Kilometers * 1000 
millimeters = Kilometers * 1000000
cents = Kilometers * 0.13275 
feets = Kilometers * 3280.84
yards = Kilometers * 1093.61
print(f" Kilometers: {centimeters: .2f} cm")  
print(f" Kilometers: {meters: .2f} m")  
print(f" Kilometers: {millimeters: .2f} mm")  
print(f" Kilometers: {cents: .3f} cents")  
print(f" Kilometers: {feets: .2f} feets")  
print(f" Kilometers: {yards: .2f} yards")

Enter no. of Kilometers:  5

 Kilometers:  500000.00 cm
 Kilometers:  5000.00 m
 Kilometers:  5000000.00 mm
 Kilometers:  0.664 cents
 Kilometers:  16404.20 feets
 Kilometers:  5468.05 yards

### 6.Take the size of your hard disk in GB
### Show that in MB, KB, TB, PB

In [87]:
GB = int(input("Enter size of hard disk in GB: "))
MB = GB * 1024
KB = GB * 1048576
TB = GB / 1024
PB = GB / (1024*1024)
print(f" GB is {MB}mb")
print(f" GB is {KB}kb")
print(f" GB is {TB:.2f}tb")
print(f" GB is {PB:.2f}pb")

Enter size of hard disk in GB:  500

 GB is 512000mb
 GB is 524288000kb
 GB is 0.49tb
 GB is 0.00pb

### 7. Take name, age, height from the user and print like below. 
### The details of the person: Name:name of the person, Age:age of the person, Height:height of the person. 
### Note: make sure that no space between : and a value and should be space after “COMA”

In [154]:
Name = input(" Enter name of person: ")
Age = input(" Enter age of person: ")
Height = input(" Enter height of person: ")
print(f" The details of the person: Name:{Name}, Age:{Age}, Height:{Height}")

 Enter name of person:  Indu
 Enter age of person:  26
 Enter height of person:  5.6

 The details of the person: Name:Indu, Age:26, Height:5.6

### 8. BMI calculation: take required parameters for BMI calculation from the user and calculate BMI of the person.

In [140]:
Weight = float(input("Enter the weight: "))
Height = float(input("Enter the height: "))
BMI = Weight / (Height ** 2)
print(f"your BMI is :{BMI:.2f}")

Enter the weight:  56.80
Enter the height:  5.6

your BMI is :1.81

### 9. Write a program
### name="Jayaram", age=1.6, height=3.5356234, weight=10.343856783
### By using above inputs print the output
###   Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344
### Note: Use format specifiers(%s, %d, %f)

In [183]:
Name = "Jayaram"
Age =  1.6
Height = 3.5356234
Weight = 10.343856783
print(f"Enter details of person: \nName:%s, Age:%s, Height:%.2f, Weight:%.3f"%(Name, Age, Height, Weight))

Enter details of person:
Name:Jayaram, Age:1.6, Height:3.54, Weight:10.344

### 10. Take three upper case letters from the user convert in to small case.

In [292]:
letter1 = input("Enter first upper case letter: ")
letter2 = input("Enter first upper case letter: ")
letter3 = input("Enter first upper case letter: ")
First = chr(ord(f'{letter1}')+32)
Second =chr(ord(f'{letter2}')+32)
Third = chr(ord(f'{letter3}')+32)
print(f"{First}{Second}{Third}")

Enter first upper case letter:  A
Enter first upper case letter:  A
Enter first upper case letter:  A

aaa

### 11. take base and exponent value from the user and print like in mathematics:
### example: base=2, exponent=3: 23
### Use: 2\u00b3

In [284]:
Base = float(input("Enter a base value: "))
Exponent=float(input(" Enter a Exponent: "))
Value = Base ** Exponent
print(f"{int(Base)}\u00b3 is {int(Value)}")
#print(f"{int(Base)}^{int(Exponent)} is {Value}")

Enter a base value:  2
 Enter a Exponent:  3

2³ is 8

### 12. Take some groceries cost prices and print total cost and average cost, what is the max cost, what is the minimum cost.

In [361]:
groceries = [35,45.3,200,45.6]
total = sum(groceries)
avg_cost = total/len(groceries)
maxcost  = max(groceries)
mincost = min(groceries)
print(f" Total cost for groceries: {total}")
print(f" av cost for groceries: {avg_cost}")
print(f" Total cost for groceries: {maxcost}")
print(f" Total cost for groceries: {mincost}")

TypeError: 'int' object is not callable

TypeError: 'int' object is not callable