In [13]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
#num_of_sales_orders= input('Enter sales orders:')
#profit = input('Enter profit')
s='The'
print(s+" "+ customer_name)

Enter customer name: Anil kumar

The Anil kumar

In [19]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
#profit = input('Enter profit')
s='The '+ customer_name + ' is a very good cutomer, bought '+num_of_sales_orders
print(s)

Enter customer name: Anil Kumar
Enter sales orders: 3045

The Anil Kumar is a very good cutomer, bought 3045

In [25]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
profit = input('Enter profit')
s='The '+ customer_name + ' is a very good cutomer, bought '+num_of_sales_orders+' sales from our portal, we got ' 
print(s)

Enter customer name: Anil
Enter sales orders: 3045
Enter profit 20000

The Anil is a very good cutomer, bought 3045 sales from our portal, we got

In [17]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
profit = input('Enter profit')
s='The '+ customer_name + ' is a very good cutomer, bought '+num_of_sales_orders+' sales from our portal, we got '+profit+' profit '
print(s)

Enter customer name: Anil
Enter sales orders: 3045
Enter profit 20000

The Anil is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit

In [27]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
profit = input('Enter profit')
s='The '+ customer_name + ' is a very good cutomer, bought '+num_of_sales_orders+' sales from our portal, we got '+profit+' profit '
print(s)

Enter customer name: Allu Arjun
Enter sales orders: 2345
Enter profit 7890

The Allu Arjun is a very good cutomer, bought 2345 sales from our portal, we got 7890 profit

In [11]:
# The Anil kumar is a very good cutomer, bought 3045 sales from our portal, we got 20000 profit
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
profit = input('Enter profit')
s='The '+ customer_name + ' is a very good cutomer, bought '+num_of_sales_orders+ ' sales from our portal, we got '+profit+' profit '
print(s)

Enter customer name: sadsa
Enter sales orders: 2434
Enter profit 234345

The sadsa is a very good cutomer, bought 2434 sales from our portal, we got 234345 profit

In [15]:
customer_name=input('Enter customer name:')
print(f"The {customer_name} is a very good customer") ## template string f string

Enter customer name: teju

The teju is a very good customer

In [21]:
customer_name=input('Enter customer name:')
num_of_sales_orders= input('Enter sales orders:')
profit = input('Enter profit')
print(f"The {customer_name} is a very good customer, bought {num_of_sales_orders}\n sales from our portal, we got {profit}")

Enter customer name: dhanusha
Enter sales orders: 34564
Enter profit 5432

The dhanusha is a very good customer, bought 34564
 sales from our portal, we got 5432

In [33]:
a="1000"
print(f"the product cost: {a}")

the product cost: 1000

In [37]:
a=1000
print(f"the product cost:"+a)

TypeError: can only concatenate str (not "int") to str

In [41]:
a=1000
print(f"the product cost:"+str(a))

the product cost:1000

In [43]:
cost=1000.23345
print(f"the product cost: {cost: f}")

the product cost:  1000.233450

In [47]:
cost=1000.23345
print(f"the product cost: {int(cost)}")

the product cost: 1000

In [53]:
cost=1000.233454365756
print(f"the product cost: {cost: f}") # it give only six digits after dot(.) in float

the product cost:  1000.233454

In [57]:
cost=1000.233454365756
print(f"the product cost: {cost: .2f}") # .2f will use for particular digits after point

the product cost:  1000.23

In [59]:
cost=1000.233454365756
print(f"the product cost: {cost: .3f}")

the product cost:  1000.233

In [ ]:
#format specifiers: %s, %d, %r, %f

In [61]:
cost=1000.233454365756
print(f"the product cost: %s", cost) #he camera if you if you we have given a comma here instead of percentile. we got a space after percentile S because we given a comma and it is printed as it is the value the float object value.

the product cost: %s 1000.233454365756

In [65]:
cost=1000.233454365756
print(f"the product cost: %s"%cost) #instead of comma we have used a person tile to separate a hardcoded string object and they float object. Because of this percentile separation, Python will recognize the format specifier percentile S

the product cost: 1000.233454365756

In [67]:
cost=1000.233454365756
print(f"the product cost: %s",%cost)

SyntaxError: invalid syntax (4190487592.py, line 2)

In [69]:
cost=1000.233454365756
print(f"the product cost: %f"%cost)

the product cost: 1000.233454

In [71]:
cost=1000.233454365756
print(f"the product cost: %d"%cost)

the product cost: 1000

In [73]:
# speaial symbols '\n(next line)' '\t(default give four spaces)'
print("saffgrtshyrhrtd \n sagsergtrh")

saffgrtshyrhrtd
 sagsergtrh

In [75]:
print("saffgrtshyrhrtd \t sagsergtrh")

saffgrtshyrhrtd 	 sagsergtrh

In [87]:
# for saying python to not consider special symbol %r (raw symbol will not consider special symbolt)
print(r"saffgrtshyrhrtd \n sagse \t rgtrh")

saffgrtshyrhrtd \n sagse \t rgtrh

In [89]:
cost=123.4
discount=34
total=345
name='APPLE'
print("the product %s"%name)

the product APPLE

In [97]:
cost=123.4576789786
discount=34
total=345
name='APPLE'
print("the product %s, cost:%s, discount:%s"%(name, cost, discount))

the product APPLE, cost:123.4576789786, discount:34

In [99]:
cost=123.4576789786
discount=34.4567890
total=345
name='APPLE'
print("the product %s, cost:%.2f, discount:%d, total: %s"%(name, cost, discount))

the product APPLE, cost:123.46, discount:34

In [101]:
print(len("\n"))

1

In [103]:
print(len("\t"))

1